/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-select
 *= require bootstrap3-datetimepicker
 *= require_tree .
 *= require_self
 */

$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/bootstrap-sprockets";
@import "bootstrap-sass-official/bootstrap";
@import 'bootstrap-fileinput';

$link_color: #2B8B04;
$hover_color: #1c5d01;
//// body ////
body {
  background-color: #F4F6EB;
}

.breadcrumb {
  background: #FFFFFF;
}

a {
  color: $link_color;

  &:hover,
  &:focus {
    color: $hover_color;
  }
}

.btn.btn-square {
  width: 92px;
  height: 69px;
  text-align: center;
  padding: 11px 0;
  font-size: 12px;
  color: #2B8B04;
  border-radius: 0;
  display: inline-block;
  margin: 0 4px 0 0;
  vertical-align: top;

  span.glyphicon {
    display: block;
    font-size: 28px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
}

span.count {
  color: #F90000;
  font-size: 24px;
  margin-right: 4px;
}

.titles {
  font-size: 18px;
  margin: 10px 0 8px 0;

  span.glyphicon {
    margin-right: 8px;
  }
}

.table-area {
  .table-info {
    background: #FFF;
    border: 1px solid #CCC;
    display: table-cell;
    vertical-align: middle;
    height: 69px;
    line-height: 69px;
    margin-bottom: 8px;

    .table-link,
    .table-name {
      display: inline;

      vertical-align: middle;
      font-size: 18px;
      margin-right: 32px;

      .glyphicon {
        margin-right: 8px;
      }
    }

    .count-area {
      display: inline;
      vertical-align: middle;
      float: right;
      margin-right: 32px;
    }
  }


}

.search-menu {
  margin-bottom: 4px;

  .pagination {
    margin: 0 8px;
    vertical-align: bottom;

    li a {
      color: $link_color;
    }

    li.active a {
      background-color: $link_color;
      border-color: $link_color;
      color: #FFF;
    }
  }

  .count-area {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 8px;
  }
}

/// karte ///
.karte-dates {
  display: inline-block;
  margin-right: 32px;

  dt {
    float: left;
    clear: both;
    width: 80px;
    color: #666;
  }

  dd {
    float: left;
    color: #666;

  }
}

.karte-print {
  float: right;
}

.karte-large {
  margin-bottom: 32px;

  dl {
    border-bottom: 1px solid #CCC;
    position: relative;
    min-height: 40px;
    margin: 16px 0 0 0;
  }

  dt {
    width: 120px;
    color: #666;
    display: inline-block;
    vertical-align: baseline;
    font-weight: normal;
    position: absolute;
    bottom: 0;

  }

  dd {
    font-size: 20px;
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    left: 120px;

  }
}

.karte-middle {
  border: 1px solid #CCC;
  padding: 16px;
  background: #FFF;
  border-radius: 4px;

  table {
    tbody > tr > th {
      color: #666;
      font-weight: normal;
      border-bottom: 1px solid #ddd;
      border-top: 0;
    }

    tbody > tr > td {
      border-bottom: 1px solid #ddd;
      border-top: 0;
    }
  }

}

.karte-small {
  padding: 16px;

  table {
    tbody > tr > th {
      color: #666;
      font-weight: normal;
      border-bottom: 1px solid #ddd;
      border-top: 0;
    }

    tbody > tr > td {
      border-bottom: 1px solid #ddd;
      border-top: 0;
    }
  }

}

/// sum ///
.sum-result {
  font-size: 40px;
  text-align: right;
  padding: 0 32px;
}

table.sum-table {
  th.y {
    min-width: 150px;
  }
}

.percent {
  color: #777;
  font-size: 80%;
}

.summary-area {
  overflow: auto;
}

.summary-small {
  .summary-panel .panel-body {
    height: 120px;
  }
}

.summary-middle {
  .summary-panel .panel-body  {
    height: 300px;
  }
}

.summary-panel {
  background: inherit;
  border-width: 0 1px 1px 0;
  border-radius: 0;

  .panel-heading {
    background: inherit;
    border: 0;

    .glyphicon {
      margin-right: 4px;
    }
  }

}
//// header ////
header {
  &.navbar-default {
    background-color: #4AD246;
    border: none;
    border-radius: 0;
  }

  .navbar-brand {
    padding: 4px 0;

    img {
      height: 100%;
    }
  }

  .bamember-label {
    float: left;
    color: #FFF;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 12px;
  }

  .btn.navbar-right {
    margin-left: 8px;
  }
}

.beader-client {
  padding: 8px 15px;
}

.breadcrumb {
  > li + li:before {
    content: " > ";
  }

  span.glyphicon {
    margin-right: 4px;
  }
}
//// footer ////
footer {
  margin-top: 16px;
  text-align: center;
  color: #777;
}
